@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: white;
}

body {
    overscroll-behavior-y: none; /* После этого свайп вниз не будет вызывать обновление страницы */
}

#app {
    min-height: 100dvh;
    background-color: white;
}

.sortable-ghost {
    opacity: 0;
}


