@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    user-select: none;
}

body {
    overscroll-behavior-y: none; /* После этого свайп вниз не будет вызывать обновление страницы */
    background-color: black;

}

#app {
    min-height: 100dvh;
    background-color: white;
}


.animated-background {
    transform: scale(0.96);
}

[data-animated-background] {
    transition: transform .3s cubic-bezier(.32, .72, 0, 1);
}

#app {
    transition: transform .3s cubic-bezier(.32, .72, 0, 1), border-radius .3s cubic-bezier(.32, .72, 0, 1);
}

.small-body {
    overflow: hidden;
}

.small-body > #app {
    transform: scale(0.95) translateY(-13px);
    border-radius: 10px;
}

